@model TicariOtomasyon.Models.Siniflar.Departman

@{
    ViewBag.Title = "DepartmanGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2 style="text-align:center">Departman Güncelleme Sayfası</h2>

@using (Html.BeginForm("DepartmanGuncelle", "Departman", FormMethod.Post))
{
    <div class="form-row" style="margin: auto; width: 30%; padding: 10px;">

        <div class="form-group">
            @Html.LabelFor(x => x.DepartmanAd)
            @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
            @Html.HiddenFor(x => x.DepartmanID)
        </div>
    </div>
    <div class="form-row" style="margin:auto; padding:10px; width:30%;">

        <button class="btn btn-info"><i class="fa fa-undo"></i> Güncelle</button>
    </div>

}
